<%= form_with(model: group) do |form| %>
  <% if group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_field :name, value: @group.name, placeholder: "Name", required: true, class: "field" %>
  </div>

  <div class="select_icon">
    <%= form.label :icon, 'Select Icon:', class: "field" %>
    <%= form.select :icon, ["ðŸŽ‰","ðŸŽ","ðŸ¼","âœˆï¸","ðŸŽ®","ðŸ‘ž","ðŸ‘”","ðŸŽµ", "ðŸ“š", "ðŸ¥", "ðŸˆ", "ðŸŽ¬"], value: @group.icon, required: true %>
  </div>

  <div>
    <%= form.submit "Save", class:'log-in-2' %>
  </div>
<% end %>
