<div class='main-container'>

<% if current_page?(root_path) && current_user == nil %>
  <h4 class="welcome-text">Welcome to your personal budget tracker!</h4>
<% end %>
<div class='welcome-icon'>
  <%= image_tag "expensetracker.png", class:"app-icon" %>
</div>
<div class='log-buttons'>
  <%if current_user%>
    <%= link_to "Categories", groups_path, class:"log-in" %>
    <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"sign-up" %>
  <% else %>
    <button class="log-in">
      <%= link_to "Log In", new_user_session_path, class:"log-in" %>
    </button>
    <button class="sign-up">
      <%= link_to "Sign Up", new_user_registration_path, class:"sign-up" %>
    </button>
  <% end %>
</div>


